body {
    margin: 0;
    background-color: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

#carCanvas {
    background-color: lightgrey;
}

#networkCanvas {
    background-color: black;
}
